// @file Base
// This file contains basic theme elements fundamental to all sites.

// Globals
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: $base-font-size;
}

html,
body {
	height: 100%;
}

body {
	height: 100%;
	font-family: $font-stack-1;
	font-size: $base-font-size;
	color: $color-5;
}

// Typography
h1 { font-size: $heading-size-1; }
h2 { font-size: $heading-size-2; }
h3 { font-size: $heading-size-3; }
h4 { font-size: $heading-size-4; }
h5 { font-size: $heading-size-5; }
h6 { font-size: $heading-size-6; }

// Layout

// Content
#content {
	.no-sidebars & {
		@include span(12);
	}
	.sidebar-first & {
		@include span(12);
	}
	.sidebar-second & {
		@include span(12);
	}
	.two-sidebars & {
		@include span(12);
	}
}

// Sidebar First Region
#sidebar-first {
	@include span(12);
	.one-sidebar & {
		@include span(12);
	}
	.two-sidebars & {
		@include span(12);
	}
}

// Sidebar Second Region
#sidebar-second {
	@include span(12);
	.one-sidebar & {
		@include span(12);
	}
	.two-sidebars & {
		@include span(12);
	}
}

// Media
img {
	display: block;
	height: auto;
	max-width: 100%;
}